.button1{ 
        background-color: aqua;
       text-decoration: blue;
    
}

.button2{
        background-color: aqua;
        text-decoration: blue;
     
}

.button3{
        background-color: aqua;
        text-decoration: blue;

}

.links{
        display: flex;
        flex-wrap: wrap;
        display: inline;
}

.picture{
border-radius: 75px;
/* border: 5px;
border-color: aqua; */
margin-right: 30px;
margin-left: 0px;
height: 425px;
width: 600px;
}

.about{ 
      display: flex;
      flex-wrap: wrap;
      margin: 25px;
      font-size: larger;
}

.work{
        font-size: larger;
}

.phone{
        text-decoration-line: underline;
        font-size: larger;
        text-decoration: aqua;
}

.email{
        text-decoration-line: underline;
        font-size: larger;
        text-decoration: aqua;
}

.git{
        text-decoration-line: underline;
        font-size: larger;
        text-decoration: aqua;
}

.skills{
        flex-wrap: wrap;
        flex-direction: row;
        margin: 25px;
        height: 250px;
        display: inline;
}

.preWork{
        border-radius: 50px;
        display: table-column-group;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 15px;
        height: 300px;
        width: 400px;
        margin-bottom: 5px;
        text-align: center;
}

.flickPicker {
        border-radius: 50px;
        display: table-column-group;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 15px;
        height: 300px;
        width: 400px;
        margin-bottom: 5px; 
        text-align: center;
}